<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<shipstream>
			<general>
				<enable_real_time_order_sync/>
				<send_new_shipment_email/>
			</general>
		</shipstream>
	</default>
</config>
